
<div class="container">
    <div class="identity-alert alert alert-success" *ngIf="status == 'success'">
        <p>You have successfully registered, login<a [routerLink]="['/login']"> from here</a></p>
    </div>  
    <div class="identity-alert alert alert-danger" *ngIf="status == 'error'">
        <p>You have not registered correctly. {{msg}}</p>
    </div>   

    <div class="card m-3">
        <div class="card-header">
            <h4>{{title}}</h4>
        </div>
        <div class="card-body">
            <form #registerForm="ngForm" (ngSubmit)="onSubmit(); registerForm.reset();" class="col-md-6">
                <p>
                    <label for="name">Name: </label>
                    <input class="form-control" type="text" name="name" #name="ngModel" [(ngModel)]="user.name" required />
                    <span class="text-danger" *ngIf="!name.valid && name.touched">Invalid name</span>
                </p>
                <p>
                    <label for="surname">Surname: </label>
                    <input class="form-control" type="text" name="surname" #surname="ngModel" [(ngModel)]="user.surname" required />
                    <span class="text-danger" *ngIf="!surname.valid && surname.touched">Invalid surname</span>
                </p>
                <p>
                    <label for="email">Email: </label>
                    <input class="form-control" type="email" name="email" #email="ngModel" [(ngModel)]="user.email" required />
                    <span class="text-danger" *ngIf="!email.valid && email.touched">Invalid email</span>
                </p>
                <p>
                    <label for="password">Password: </label>
                    <input class="form-control" type="password" name="password" #password="ngModel" [(ngModel)]="user.password" required />
                    <span class="text-danger" *ngIf="!password.valid && password.touched">Invalid password</span>
                </p>
        
                <input class="btn btn-success" type="submit" value="Register" [disabled]="!registerForm.form.valid" />
            </form>
        </div>
    </div>
</div>

