<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" [routerLink]="['/']">
      <img class="logo" src="../assets/img/logo.png" alt="Logo web">
    </a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"><i class="fa fa-home mr-1" aria-hidden="true"></i>Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-tasks mr-1" aria-hidden="true"></i>Tasks
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" [routerLink]="['/']">Create</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" [routerLink]="['/']">Details</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-cog mr-1" aria-hidden="true"></i>Settings
            <!-- <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" [routerLink]="['/']">Create</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" [routerLink]="['/']">Details</a>
            </div> -->
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']"><i class="fa fa-sign-out mr-1" aria-hidden="true"></i>Logout</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/login']" >Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/register']" >Register</a>
        </li>
      </ul>
    </div>
</nav>