/* You can add global styles to this file, and also import other style files */

.logo{
    height: 35px;
}

.actionButtons :hover{
    transform: scale(1.5);
    transition: 0.3s;
}

.iconButton{
    font-size: 25px;
}