<div class="text-center loader" *ngIf="loading == 'show'">
    <img src="assets/img/loader.gif" alt="Loading...">
 </div>
<div class="container" *ngIf="!loading || task">
    <div class="identity-alert alert alert-success" *ngIf="statusMsg == 'success'">
        <p *ngIf="pageTitle == 'New task'">Task has been successfully created</p>
        <p *ngIf="pageTitle == 'Edit task'">Task has been updated</p>
    </div>  
    <div class="identity-alert alert alert-danger" *ngIf="statusMsg == 'error'">
        <p *ngIf="pageTitle == 'New task'">Task could not be created</p>
        <p *ngIf="pageTitle == 'Edit task'">Task could not be updated</p>
    </div>      
    <div class="card m-3">
        <div class="card-header">
            <div class="row" *ngIf="pageTitle == 'Edit task'">
                <div class="col col-md-1">
                    <a class="btn actionButtons mr-2 ml-2" [routerLink]="['/task', task.id]" routerLinkActive="router-link-active" title="Back"><i class="fa fa-backward" aria-hidden="true"></i></a>
                </div>
                <div class="col col-md-11 text-center">
                    <h4>{{pageTitle}}</h4>
                </div>
            </div>
            <div class="row" *ngIf="pageTitle == 'New task'">
                <div class="col col-md-1">
                    <a class="btn actionButtons mr-2 ml-2" [routerLink]="['/']" routerLinkActive="router-link-active" title="Back"><i class="fa fa-backward" aria-hidden="true"></i></a>
                </div>
                <div class="col col-md-11 text-center">
                    <h4>{{pageTitle}}</h4>
                </div>
            </div>
            
        </div>
        <div class="card-body">
            <form #taskNewForm="ngForm" (ngSubmit)="onSubmit()" class="col-md-6">
                <p>
                    <label for="title">Title: </label>
                    <input class="form-control" type="text" name="title" #title="ngModel" [(ngModel)]="task.title" required />
                    <span class="text-danger" *ngIf="!title.valid && !title.touched">Invalid title</span>
                </p>
                <p>
                    <label for="description">Description: </label>
                    <textarea class="form-control" name="description" rows="4" #description="ngModel" [(ngModel)]="task.description"></textarea>
                </p>
                <p>
                    <label for="status">Status: </label>
                    <select class="form-control" name="status" #status="ngModel" [(ngModel)]="task.status" required>
                        <option value="new">New</option>
                        <option value="to do">To do</option>
                        <option value="done">Done</option>
                    </select>
                </p>
                <input class="btn btn-info" type="submit" value="Save changes" [disabled]="!taskNewForm.form.valid" />
            </form>
        </div>
    </div>
</div>

