<div class="container">
    <!-- <div class="identity-alert alert alert-success" *ngIf="status == 'success'">
        <p>Your data was successfully modified</p>
    </div>  
    <div class="identity-alert alert alert-danger" *ngIf="status == 'error'">
        <p>Your data could not be updated</p>
    </div>       -->
    <div class="card m-3">
        <div class="card-header">
            <h4>{{title}}</h4>
        </div>
        <div class="card-body">
            <form #taskNewForm="ngForm" (ngSubmit)="onSubmit();" class="col-md-6">
                <p>
                    <label for="title">Title: </label>
                    <input class="form-control" type="text" title="title" required />
                </p>
                <p>
                    <label for="surname">Description: </label>
                    <textarea class="form-control" name="surname" rows="4"></textarea>
                </p>
                <p>
                    <label for="status">Status: </label>
                    <select class="form-control" name="status">
                        <option value="new">New</option>
                        <option value="to do">To do</option>
                        <option value="done">Done</option>
                    </select>
                </p>
                <input class="btn btn-success text-white" type="submit" value="{{title}}" [disabled]="!taskNewForm.form.valid" />
            </form>
        </div>
    </div>
</div>

